.mainContainer {
  color: white;

  background: url("../../public/images/backgroundHome-069ef27b.svg") no-repeat,
    linear-gradient(
      225deg,
      rgba(65, 60, 65, 1) 0%,
      rgba(89, 54, 89, 1) 13%,
      rgba(17, 17, 18, 1) 100%
    );

  background-size: cover;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
}
.header {
  height: 5rem;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 2rem;
  margin-bottom: 3rem;
}

.logo {
  height: 4rem;
  width: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.socialLinks {
  display: flex;

  flex-direction: row;
  gap: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  margin-top: 2rem;
}

.iconDiv {
  background-color: #b452c5;
  border-radius: 99px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.icon {
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 3rem;
  }
  .icon {
    font-size: 15px;
  }
  .iconDiv {
    padding: 10px;
  }
}
@media screen and (max-width: 375px) {
  .socialLinks {
    display: none;
  }
}
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.titles {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.hi {
  font-size: 60px;
  font-weight: 400;
  color: #b09bdd;
  margin: 0;
  padding: 0;
}

.brayan {
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.mainTitle .hi .brayan {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.textBoxes {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
}

.description {
  font-size: 25px;
  font-weight: 200;
  color: #d7ccd9;
}

.customShape {
  position: relative;
  font-weight: 600;
}

.avatar {
  width: 35rem;
  height: auto;
  z-index: 10;
}

.aboutMeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  overflow: visible;
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  gap: 5rem;
  overflow: visible;
}

.aboutTexts {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.brayanPhoto {
  background-color: #b046c2;
  box-shadow: 10px 10px 0px 0px #d7ccd9;
  overflow-y: hidden;
  width: auto;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.aboutMeTitle {
  font-size: 25px;
  color: #b046c2;
  font-weight: 400;
}

.whoAreYou {
  font-size: 30px;
  color: #b046c2;
  font-weight: 700;
  margin-top: -5px;
}

.descriptionAboutMe {
  width: 100%;
  margin: 1.5rem 0px 0px 0px;
  font-size: 18px;
  color: #4e4d4d;
}

.skillsContainer {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.skills {
  background-color: #b046c2;
  color: rgb(255, 255, 255);
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 4rem;
  box-shadow: 0px 20px 0px 15px #d7ccd9;
  gap: 1rem;
  overflow: visible;
}

.skillsTitle {
  font-size: 25px;
  font-weight: 400;
}

.skillsSubTitle {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  margin-top: -8px;
}

.skillsDescription {
  width: 60%;
  margin: 1.5rem 0px 0px 0px;
  font-size: 18px;
  color: #d7ccd9;
}

.skillsList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  background-color: #958fec;
  padding: 20px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.more {
  font-size: 50px;
  margin-top: 20px;
  align-self: flex-end;
  color: #c4c4c4;
}

.projectsContainer {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.projects {
  width: 70rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.projectImage {
  width: 30rem;
  height: 20rem;
}

.projectsTitle {
  font-size: 25px;
  font-weight: 400;
  color: #b046c2;
}

.projectsSubTitle {
  font-size: 30px;
  color: #b046c2;
  font-weight: 700;
  margin-top: -8px;
}

.projectsDescription {
  font-weight: 400;
  font-size: 20px;
  width: 70%;
  color: #4d4d4d;
}

.projectsList {
  width: 100%;
}

.projectTexts {
  width: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.projectCard {
  color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.projectTitle {
  font-size: 18px;
  font-weight: 400;
  color: #b046c2;
}

.projectSubTitle {
  font-size: 25px;
  color: #b046c2;
  font-weight: 700;
  margin-top: -25px;
}

.projectDescription {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  color: #4d4d4d;
}

.projectButton {
  background-color: #b046c2;
  color: white;
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.projectButton:hover {
  font-size: 17px;
  background-color: #e381f5;
  color: white;
}

.hr {
  width: 200px;
  height: 40px;
}

.inDevelopment {
  color: #d7ccd9;
  font-size: 60px;
}

.contactContainer {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  background: rgb(176, 70, 194);
  background: linear-gradient(
    332deg,
    rgba(176, 70, 194, 1) 0%,
    rgba(75, 72, 75, 1) 100%
  );
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.contactImage {
  height: 40rem;
  justify-self: flex-start;
}

.contactForm {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactTitle {
  font-size: 25px;
  font-weight: 400;
}

.contactSubTitle {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  margin: 1rem 0 2rem 0;
}

.input {
  background-color: transparent;
  border: white solid 2px;
  padding: 10px;
  color: #dfdfdf;
  border-radius: 10px;
  outline: none;
  transition: step-start 1s;
}

/*input::placeholder,
textarea::placeholder {
  color: #dfdfdfc5;
}*/

.input:focus,
.input:active,
.textArea:focus,
.textArea:active {
  border: 2px solid #1c87c9;
}

.textArea {
  background-color: transparent;
  border: white solid 2px;
  padding: 10px;
  color: #dfdfdf;
  border-radius: 10px;
  width: 40rem;
  outline: none;
  transition: step-start 5s;
}

.forms {
  display: grid;
  width: 40rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formButton {
  color: white;
  background-color: #b046c2;
  border: none;
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-top: 2rem;
  cursor: pointer;
}

.formButton span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.formButton:hover {
  color: #b046c2;
}

.formButton:hover span {
  transform: translateY(0) scale(2);
}

.formButton span:nth-child(1) {
  --n: 1;
}

.formButton span:nth-child(2) {
  --n: 2;
}

.formButton span:nth-child(3) {
  --n: 3;
}

.formButton span:nth-child(4) {
  --n: 4;
}

@media screen and (max-width: 1600px) {
  .avatar {
    width: 30rem;
  }
}

@media screen and (max-width: 1320px) {
  .banner {
    gap: 2rem;
  }

  .hi {
    font-size: 40px;
  }

  .brayan {
    font-size: 60px;
  }

  .avatar {
    width: 30rem;
    z-index: 10;
  }

  .aboutMe {
    width: 75%;
  }

  .aboutTexts {
    width: 50%;
  }

  .skills {
    width: 75%;
  }

  .projects {
    width: 75%;
  }

  .skillsList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .projectCard {
    gap: 2rem;
  }

  .inDevelopment {
    font-size: 40px;
  }

  .contact {
    padding: 0;
    width: 75%;
  }

  .contactImage {
    display: none;
  }

  .contactForm {
    width: 100%;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    align-self: center;
    justify-self: center;
  }

  .avatar {
    width: 20rem;
  }
  .aboutTexts {
    width: 100%;
  }
  .description {
    font-size: 18px;
    font-weight: 200;
  }

  .descriptionAboutMe {
    font-size: 16px;
  }

  .skillsDescription {
    font-size: 16px;
  }

  .skillsList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .projectsList {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .projectCard {
    flex-direction: column;
  }

  .projectImage {
    width: 85%;
    height: auto;
  }

  .projectTexts {
    width: 85%;
  }

  .projectDescription {
    font-size: 14px;
  }

  .projectButton {
    width: 8rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 870px) {
  .banner {
    flex-direction: column;
  }
  .aboutMe {
    gap: 3rem;
    flex-direction: column;
  }
  .titles {
    width: 75%;
  }

  .mainTitle {
    margin-bottom: 1rem;
  }

  .hi {
    font-size: 30px;
  }

  .brayan {
    font-size: 50px;
  }

  .description {
    font-size: 16px;
  }

  .whoAreYou {
    font-size: 18px;
  }

  .aboutMeTitle {
    font-size: 22px;
  }

  .inDevelopment {
    font-size: 24px;
  }

  .ab .skills {
    width: 30rem;
    padding: 2rem;
  }

  .skillsList {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .skillsTitle {
    font-size: 18px;
  }

  .skillsSubTitle {
    font-size: 22px;
  }

  .skillsDescription {
    width: 100%;
    font-size: 16px;
  }

  .projectsTitle {
    font-size: 18px;
  }

  .projectsSubTitle {
    font-size: 22px;
  }

  .iconContainer {
    padding: 10px;
  }

  .contactTitle {
    font-size: 18px;
  }

  .contactSubTitle {
    font-size: 22px;
    margin: 0.3rem 0 2rem 0;
  }

  .forms {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .textArea {
    width: auto;
  }
}

@media screen and (max-width: 720px) {
  .aboutMe {
    width: 85%;
  }

  .avatar {
    width: 75%;
  }

  .skills {
    width: 85%;
    padding: 2rem;
  }

  .projects {
    width: 85%;
  }

  .contact {
    padding: 0;
    width: 85%;
  }

  .skillsList {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projectButton {
    width: 8rem;
    height: 2rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .skillsList {
    grid-template-columns: 1fr 1fr;
  }
}
